# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos temporales y bases de datos locales
*.sqlite3
*.log

# Entornos virtuales
env/
venv/

# Archivos de entorno
.env
.env.*
*.env

# Editor
.vscode/
.idea/

# Git
.git
.gitignore

# Build / dist
*.egg-info/
build/
dist/

# Archivos estáticos generados (si los tenés en versionado ignoralos también)
staticfiles/
media/

# Otros
.DS_Store
